*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {  
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.sign-in, .sign-up {
  height: 100vh;
  display: grid;
  place-content: center;
}
.logo{
  align-content: flex-end;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 50px;
  font-family: 'Noto Serif JP', serif;
  background: -webkit-linear-gradient(rgba(156, 72, 156, 0.575), rgba(13, 9, 44, 0.712) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container h2{
  margin-bottom: 5rem;
  text-align: center;
  background: -webkit-linear-gradient(rgba(13, 9, 44, 0.712),rgba(133, 61, 133, 0.575) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  border-radius: 2%;
  width: 330px;
  height: auto;
  display: grid;
  grid-gap: 1rem;
  box-shadow: -10px 10px 80px -20px rgb(129, 255, 255), 10px -10px 80px -20px rgb(206, 98, 206);
  padding: 1.5rem;
  align-content: start;
}

.container h1{
  text-align: center;
  background: -webkit-linear-gradient(rgba(223, 19, 223, 0.575), rgba(61, 40, 248, 0.712) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container span, p{
  font-size: 12px;
  color: rgb(77, 76, 76);
}

.container p{
  text-align: center;
}

.container p:hover{
  color: rgba(223, 19, 223, 0.575);
  cursor: pointer;
}

.container input{
  border: none;
  border-bottom: solid rgb(202, 200, 200) 1px;
  padding: 15px 0px;
  width: 270px ;
}

.container input:focus {
  outline: none;
}

.container button {
  background: linear-gradient(rgba(223, 19, 223, 0.575), rgba(61, 40, 248, 0.712) );
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 270px ;
  cursor: pointer;
}

.hoxtify-app {
  display: grid;
  grid-template-rows: 5rem 1fr;
  min-height: 100vh;
  min-width: 100vw;
}

.hoxtify-app .header {
  display: grid;
  grid-template-columns: 14rem 1fr 10rem;
}

.hoxtify-app .main-wrapper {
  display: grid;
  grid-template-columns: 14rem 1fr;
}

.main-wrapper .main-page-content {
  border-left: solid rgb(202, 200, 200) 1px;
}

.header .logo {
  display: grid;
  justify-content: flex-start;
  font-size: 37px;
  margin: 0;
  padding-left: 1rem;
}

.header h2 {
  display: grid;
  justify-content: flex-start;
  font-size: 17px;
  padding-left: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  background: -webkit-linear-gradient(rgba(13, 9, 44, 0.712),rgba(133, 61, 133, 0.575) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .search-bar {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: flex-start;
  height: 5rem;
  border-bottom: solid rgb(202, 200, 200) 1px;
  border-left: solid rgb(202, 200, 200) 1px;
}
.topbar-search-icon{
  margin-left: 3rem;
  margin-top: 1rem;
}
.search-bar input {
  margin-left: 0.5rem;
  border: none;
  padding: 15px 0px;
  width: 30rem;
  font-size: 15px;
  border-bottom: solid rgb(202, 200, 200) 1px;
  transition: .3s;
}
.search-bar input:focus {
  outline: none;
  border-bottom: solid rgba(223, 19, 223, 0.575) 1px;
  color: rgba(223, 19, 223, 0.575);
}

.header .header-profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  height: 5rem;
  border-bottom: solid rgb(202, 200, 200) 1px;
}

.header .header-profile img {
  border-radius: 50px;
}

.header .header-profile span {
  color: #191919;
  font-size: 18px;
  font-weight: 600;
  transition: .2s;
}
.header .header-profile span:hover {
  cursor: pointer;
  color: rgba(133, 61, 133, 0.575);
}
.header .header-profile{
  cursor: pointer;
}

.sidebar {
  display: grid;
  align-content: center;
  grid-gap: 1rem ;
}

.sidebar h1 {
  font-size: 22px;
  padding-left: 1rem;
  color: #191919;
  transition: .3s;
}

.sidebar h1:hover, h2:hover {
  cursor: pointer;
  color: rgba(133, 61, 133, 0.575);
  border-left: solid 5px rgba(133, 61, 133, 0.575);
}

.sidebar h2 {
  font-size: 16px;
  padding-left: 2.2rem;
  color: #52525D;
  font-weight: 100;
  transition: .3s;
}